body{
  
}

#board{
	display: table block;
    margin: 0 auto;
    flex: auto;
}

#board .row{
	display: table-row;
}

#board .cell{
	display: table-cell;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-width: 2px;
}

.cell button{
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
}